@import "tailwindcss";



::-webkit-scrollbar{

    width: 7px;
    height: 7px;

}


::-webkit-scrollbar-thumb{
    background-color: #17171a ;
    border-radius: 10px;
}



::-webkit-scrollbar-thumb:hover{
    background-color: #6556CD ;
    border-radius: 10px;
}




/* Color Code:--- 

primary   blacktype  : #1F1E24
secondary violettype : #6556CD 







*/